Language: Cpp
BasedOnStyle: google
IndentWidth: 4
SortIncludes: false

AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
CompactNamespaces: false
ConstructorInitializerIndentWidth: 2
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Regroup
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReflowComments: false
SpaceBeforeParens: ControlStatements
UseTab: Always
TabWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: MultiLine
  BeforeCatch: true
  IndentBraces: false
  SplitEmptyFunction: true
  